# Market

In [25]:
symbols = 'SPY'
# symbols = ['SPY', 'GLD', 'SLV']

# Position size

In [26]:
from datetime import datetime, timedelta

from pandas.tseries.offsets import BDay
from quantopian.research import get_pricing

SLIDING_WINDOW = 22

end_date = datetime.now()
start_date = end_date - BDay(SLIDING_WINDOW)

prices = get_pricing(
    symbols,
    start_date=start_date,
    end_date=end_date,
    fields=[
        'high',
        'low',
        'close_price'
    ]
)

prices

                              high      low  close_price
2017-04-06 00:00:00+00:00  236.040  234.425       235.39
2017-04-07 00:00:00+00:00  236.000  234.640       235.16
2017-04-10 00:00:00+00:00  236.255  234.730       235.32
2017-04-11 00:00:00+00:00  235.180  233.340       235.04
2017-04-12 00:00:00+00:00  234.960  233.770       234.10
2017-04-13 00:00:00+00:00  234.490  232.550       232.55
2017-04-17 00:00:00+00:00  234.570  232.880       234.56
2017-04-18 00:00:00+00:00  234.490  233.080       233.86
2017-04-19 00:00:00+00:00  234.950  233.180       233.48
2017-04-20 00:00:00+00:00  235.845  233.780       235.29
2017-04-21 00:00:00+00:00  235.310  234.130       234.60
2017-04-24 00:00:00+00:00  237.410  236.610       237.11
2017-04-25 00:00:00+00:00  238.950  237.810       238.54
2017-04-26 00:00:00+00:00  239.530  238.350       238.44
2017-04-27 00:00:00+00:00  238.950  237.980       238.61
2017-04-28 00:00:00+00:00  238.930  237.930       238.11
2017-05-01 00:00:00+00:00  239.170  238.195       238.65
2017-05-02 00:00:00+00:00  238.980  238.300       238.78
2017-05-03 00:00:00+00:00  238.877  237.700       238.52
2017-05-04 00:00:00+00:00  238.923  237.780       238.74
2017-05-05 00:00:00+00:00  239.720  238.680       239.72

In [29]:
from talib import ATR

volatility = ATR(prices.high, prices.low, prices.close_price, timeperiod=20)[-1]

volatility

1.4894999999999954

In [30]:
DOLLARS_PER_POINT = 1

dollar_volatility = volatility * DOLLARS_PER_POINT

dollar_volatility

1.4894999999999954

In [46]:
CAPITAL_PERCENTAGE_PER_TRADE = 0.01
CAPITAL = 1000000

capital_per_trade = CAPITAL * CAPITAL_PERCENTAGE_PER_TRADE
trade_size = capital_per_trade / dollar_volatility

int(trade_size)

6713